name: Lint

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/lint.yaml'
      - 'sphinx_autodoc_vyper/**'
      - 'tests/**'
      - 'pyproject.toml'
      - 'setup.py'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/lint.yaml'
      - 'sphinx_autodoc_vyper/**'
      - 'tests/**'
      - 'pyproject.toml'
      - 'setup.py'

jobs:
  lint:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6
    
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.11"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black isort ruff
        
    - name: Check formatting with Black
      run: black --check sphinx_autodoc_vyper tests
      
    #- name: Check imports with isort
    #  run: isort --check-only sphinx_autodoc_vyper tests
      
    - name: Lint with Ruff
      run: ruff check sphinx_autodoc_vyper tests
